body
	background white
.home.page:not(.page-template-template-homepage) .site-header
	margin-bottom 0px !important
	background rgba(white, .5)
	width 100%
	padding 0
	height 50px
	position fixed
.main-banners-container
	background gray
	width 100%
	height 300px
	display block
	.item
		background red url(./assets/images/01-Slide-A.jpg) no-repeat center center
		background-size cover
		width 100%
		height 100%
.banner-promo-home
	background transparent url(./assets/images/02-Diagonales.svg) no-repeat left bottom
	padding 40px 0
	h3
		border none
		background-size cover
.banner-hashtag
	margin-top 30px
	background transparent url(./assets/images/03-marsala-hashtag.jpg) no-repeat center center
	background-size cover
	color white
	height 120px
	display flex
	flex-direction column
	justify-content center
	padding-left 10px
	padding-right 10px
	width 100%
	line-height 1.3em
	.hash
		font-size 2em
.right-sidebar .content-area
	width 100%