gris0 = #b1b1b1
gris1 = #b2b2b2
gris2 = #5f5f5f
gris3 = #d5d5d5
gris4 = #dddddd
.woocommerce-error
	background-color #A1A1A1
.woocommerce-error
.back-gray
	background-color gris2
	color white
.nosotros-main-content
	width 120%
	margin-left -10%
	padding-top 20px
	padding-bottom 10px
	line-height 2em
	margin-top 20px
	margin-bottom 20px
	font-size 1.2em
	p
		padding-left 30px
		padding-right 30px
a
	color gris2 !important
	&.checkout-button
	&.wc-backward
	&.wc-forward
	&.view
	&.woocommerce-Button
		color white !important
	&.woocommerce-Button
		padding 5px 15px !important
	&.add_to_wishlist
		display none
button.icon-bag
	background none !important
	border none !important
	box-shadow none !important
	padding 0 !important
	font-family 'Montserrat' !important
	span
		font-size 0.5em
		color gris2
	&:before
		font-size 1.2em
		color gris2 !important
button
input[type="button"]
input[type="reset"]
input[type="submit"]
.button
.added_to_cart
.widget a.button
.site-header-cart .widget_shopping_cart a.button
	background-color black !important
    border-color black !important
    color #ffffff !important
.woocommerce-info
	background-color gris1 !important
.woocommerce-message
	background-color gris1 !important
	padding .5em !important
	margin-bottom 60px !important
	.button
		background-color transparent !important
th.product-remove
th.product-thumbnail
th.product-name
th.product-price
th.product-quantity
th.product-subtotal
th.product-stock-status
th.product-add-to-cart
	display none
img
	border-radius 0px !important
.columns-selector
	.icon-cuadritos
	.icon-rayitas
		font-size 2em
		margin-left 6px
		display inline-block
.alpha_50
	opacity .5
.shop_table
	height auto
	overflow hidden
	float left
	width 100%
	margin-bottom 40px
.cart_item
	margin-bottom 30px
	.product-quantity
		.qty
			width 3em
			padding-top 0
			padding-bottom 0
.wishlist-out-of-stock
	color #EA4335
.hentry .wp-post-image
	width 100% !important
	margin-bottom 0 !important
.coupon-block-stuff
	margin-top 30px
	margin-bottom 30px
	text-align center
	.coupon
		.button
			margin-top 10px
	.button
		margin-top 30px
.galery-photos-container
	overflow hidden
.grid-item
	float left
	img
		width 100%
		height auto
.navbar-brand
	padding 0 !important
.navbar-fixed-top
	.navbar-collapse
		max-height 1100px
.dropdown.show
	ul.dropdown-menu
		display block
.dropdown-menu
	position relative
	border none
	box-shadow none
	border-radius 0px
	background none
	width 100%
	&.sub-menu
		margin-left 15px
		li
			width 100%
ul.menu
	li
		a
			color gris4
			&:focus
				outline none
	.sub-menu
		li a
			color gris2
.footer-cart-contents
	margin-top 8px !important
	position relative
	&:before
		font-size 2.2em
	span.count
		color white
		display inline-flex
		position absolute
		bottom 1px
		font-size .8em
		right 11px
.go-up-btn
	position fixed
	width 46px
	height 50px
	right 30px
	bottom 30px
	z-index 10
	opacity 1
	transition opacity 2s ease
	font-size 3em
	&.hidden
		opacity 0
		transition opacity 2s ease
.form-control
.input-text
input[type=text]
input[type=email]
input[type=url]
input[type=password]
input[type=search]
textarea
	background-color gris4 !important
	border none
	border-radius 0px !important
	resize none
.btn.btn-primary.black
	background-color black
	border-color black
	float right
.grid-item--width2
	width: 200px
.grid-item--width3
	width: 100%

.grid-item--height2
	height 200px
.grid-item--height3
	height 200px
.grid-item-50
	width 50%
.grid-item-100
	width 100%

.customize-photos-container
	.left
		float left
		width 40%
	.right
		float right
		width 60%	
.fjala
	font-family 'Fjalla One', sans-serif
.walter-font
	font-family 'Walter Turncoat', cursive
.kalam
	font-family 'Kalam', cursive
.transparent
	background rgba(white, .99) !important
	transition all 1s ease-out
body
	background white
	font-family 'Montserrat' !important
.navbar-default
	border none
	background transparent
	.navbar-toggle
		background none !important
		.icon-bar
			background-color gris1
h1.woocommerce-breadcrumb
	background-color transparent !important
	text-align center
	margin-top 0
	margin-bottom 0
	font-size 1.4em
	font-weight 100
	text-transform uppercase
	letter-spacing 1px
.the-content
	padding-top 20px
	padding-bottom 20px
.page-template-default
	.site-header
		.navbar-header
			width 100% !important
.archive
	.site-header
		.container>.navbar-header
			margin auto
			justify-content space-between
			&::before
			&::after
				display none
	.navbar-default
		.navbar-brand
			img
				margin-top 0
				margin-left 15px
.navbar-default
	.navbar-collapse
		background rgba(white, .99)
.home.page:not(.page-template-template-homepage)
.page-template-default
	.site-header
		background rgba(white, .2)
		height 50px
		margin-bottom 0px !important
		padding 0
		position fixed
		width 100%
		.footer-cart-contents
			border-radius 50%
			display inline-block
			height 30px
			padding 0
			text-align center
			width 30px
		.skip-link.screen-reader-text
			display none
		.storefront-primary-navigation
			order 1
			width 120px
		.navbar-header
			align-items center
			display flex
			height 100%
			justify-content space-between
			margin 0 auto
			width 100%
			&::before
			&::after
				content ""
				display none
			.navbar-toggle
				margin-right 0
				border none
				float none
				border-radius 0px
				box-shadow none
				&:hover
					background-color rgba(gris0, .2)
	.site-branding
		order 2
	.main-navigation
		&.toggled
			margin-top 380px
	.navbar-brand
		float none
		height 40px
		padding 0
		img
			display inline-block
			height 40px
			width auto
	.navbar-collapse
		background rgba(white, .99)
		margin-left -7%
		padding-bottom 20px
		padding-top 20px
		position absolute
		padding-left 15px
		padding-right 15px
		width 114%
		border none
.navbar-nav
	margin-left 5px
	margin-right 5px
.page-template-default
	.navbar-collapse
		position relative
	.site-header
		height 50px
		.navbar-header
			width 230px
	.site-content
		margin-top 60px
.main-banners-container
	background gray
	display block
	height 300px
	width 100%
	.item
		background transparent url(./assets/images/01-Slide-A.jpg) no-repeat center center
		background-size cover
		height 100%
		width 100%
.banner-promo-home
	background transparent url(./assets/images/02-Diagonales.svg) no-repeat left bottom
	padding 40px 0
	h2
		color black
	h3
		border none
		background-size cover
.banner-hashtag
	margin-top 30px
	background transparent url(./assets/images/03-marsala-hashtag.jpg) no-repeat center center
	background-size cover
	color white
	height 120px
	display flex
	flex-direction column
	justify-content center
	padding-left 10px
	padding-right 10px
	width 100%
	line-height 1.3em
	.hash
		font-size 2em
.right-sidebar .content-area
	width 100%
/*Nosotros*/
.site-header .container>.navbar-header
	justify-content space-between
.site-header
	background none !important
	.container>.navbar-header
		display flex
	    justify-content space-between
	    align-items center
	    span.hidden-sm.hidden-md.hidden-lg
			height 50px
.site-header
	ul.menu
		li.current-menu-item > a
			color rgba(black, .8) !important
.navbar-default
	.navbar-brand
		width 40px
		img
			width 100%
			height auto
.navbar-toggle
	margin-right 0
	border none
	box-shadow none
.footer-cart-contents
	width 30px
	height 30px
	border-radius 50%
	display inline-block
	text-align center
.nosotros-banner-container
	height 240px
	width 100%
	background transparent url(./assets/images/banner-nosotros-marsala.jpg) no-repeat center top
	background-size cover
.nosotros-images-container
	display flex
	.image-container
		width 49%
		display inline-block
		img
			height auto
.gallery-banner
	background transparent url(./assets/images/banner-gallery-marsala.jpg) no-repeat center center
	background-size cover
	height 200px
	text-align center
	display flex
	justify-content center
	align-items center
	margin-top 20px
	h2
		color white
		font-size 1.6em
.ig-container
	margin-top 30px
	text-align center
	.item
		width 49%
		display inline-block
		img
			width 100%
			height auto
/*Contact*/
form
	position relative
	z-index 3
.shadow
	height 200px
	background rgba(white, .2)
	position relative
	margin-top -200px
	z-index 2
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
#map
	background gray
	height 500px
	margin-top -200px
	margin-bottom 50px
	position relative
	width 100%
	z-index 1
.shop-item
	width 49%
	display inline-block
	margin-bottom 30px
	font-size .9em
	.shop-title
		border-bottom 1px solid black
		text-transform uppercase
		font-size 1.4em
	.shop-info
		p.address
		p.cp
		p.cel
		p.office
			margin-bottom 0
.added-to-cart-message
	display flex
	align-items center
	p
		width 60%
		display inline-block
		margin 0px
	a
		width 40%
	    display inline-block
	    position relative
ul.products
	li.product
		img
			margin-bottom 0 !important
			width 100%
		span.price
			color white
			margin-bottom 0
	h3
		color white
		text-transform uppercase
		margin-bottom 0
ul.products
	li.product.col-xs-6
		margin-bottom 1.6em
		.title-price-container
			background none
			transition all .5s ease
			margin-top 0
			h3
				font-size .8em
				min-height 40px
				color black
			span.price
				color black
.title-price-container
	background rgba(black, .6)
	height 80px
	display flex
	flex-direction column
	justify-content center
	align-items center
	margin-top -80px
	position relative
	overflow hidden
	transition all .5s ease
	hr
		width 140px
		margin 5px auto
.woocommerce-breadcrumb
	a
		display none
.archive
	.navbar-default
		.navbar-brand
			img
				margin-top 0
				margin-left -5px
/*SINGLE PRODUCT*/
.single-product
	.navbar-default
		.navbar-brand
			img
				margin-top 0
				margin-left -5px
	.navbar-header:before
	.navbar-header:after
		display none
	.navbar-toggle
		margin-left 15px
	.footer-cart-contents
		margin-right 15px
		margin-top 8px
	.content-area
		margin-top -30px
	div.product
		margin-top 15px
		padding-top 0px
		.price
			text-align center
		    border-top 1px solid #f1f1f1
		    margin-bottom 20px
		    margin-top 20px
		    padding-top 10px
		    font-size 1.2em
		.images
			width 88%
			margin-bottom 0 !important
			.icons-container
				position absolute
				right 0
				width 10%
				display flex
				flex-direction column
				.icon-favoritos
				.icon-bag
				.icon-personalizar
					color gris0
					font-size 1.6em
				.cart
					margin-bottom 0
				a:active
				a:focus
				a:visited
				a:hover
					outline 0
					text-decoration none
					
			.thumbnails
				overflow hidden
			.quantity
				display none
		form.cart
			.button
				float none
				width 100%
				text-transform uppercase
		form.cart
			.quantity
				display none
	.customize-it-form
		position absolute
		width 88.5%
		top -40px
		opacity 0
		transition top .3s ease, opacity .5s ease
		.form-group
			display inline-block
			opacity 1
			transition opacity .5s ease
			&.left
				width 78%
			&.right
				width 20%
				button
					width 100%
					text-align center
					border-radius 0
			&.opacity_0
				opacity 0
				transition opacity .5s ease
			&.radios
				margin-bottom 0
				width 100%
				background-color white
				transition .5s ease
				.select_gray
					border 1px solid black
					border-radius 0px
					width 99%
		.custom-phrase
			font-size .7em
			color #C3922E
			margin-top 20px
			font-weight bold
			opacity 0
			transition opacity .5s ease
			text-transform uppercase
			&.grabado
				color #333
				text-shadow 0px 1px 0px rgba(255,255,255,.5)
			&.broquel
				color #FFF
			&.plateado
				color #c0c0c0
			&.negro
				color #000
			&.naranja
				color orange
			&.backpack
				margin-top 34%
				margin-left 6%
				font-size .5em
			&#prod-302
				margin-left 0
			&#prod-303
				margin-left 2%
			&#prod-305
				margin-top 31%
				margin-left 0
			&#prod-119
				margin-top 60px
			&#prod-304
				margin-top 75px
			&#prod-306
				margin-top 30%
			&.tarjetero
				margin-top 48%
			&.cosmetiquero-de-viaje
				margin-top 66%
			&#prod-162
				margin-top 69%
			&#prod-158
			&#prod-167
			&#prod-171
				margin-top 68%
			&.pouch
				margin-top 40%
				margin-left 17%
				font-size .55em
			&#prod-197
				margin-top 43%
			&#prod-198
				margin-left 21%
			&#prod-200
				margin-left 22%
				margin-top 42%
			&#prod-201
				margin-left 21%
				margin-top 42%
			&#prod-199
				margin-left 25%
				margin-top 42%
			&.neceseres-hombe
			&.neceseres-hombre
				margin-top 22%
				margin-left 8%
			&#prod-244
			&#prod-253
				margin-top 30%
				margin-left 6%
			&#prod-254
				margin-top 36%
				margin-left 5%
			&#prod-269
				margin-top 32%
				margin-left 5%
			&.neceseres-mujer
				margin-top 61%
			&.porta-pasaportes
				margin-top 82%
				font-size .8em
			&.tags
				margin-top 66%
				transform rotate(90deg)
				margin-left -1%
				font-size .5em
		&.active
			top 16px
			opacity 1
			transition top .3s ease, opacity .5s ease
			visibility visible
			.custom-phrase
				opacity 1
				visibility visible
				transition opacity .5s ease
	ul.products
		display flex
		justify-content space-between
		flex-wrap wrap
		&:before
		&:after
			display none
		li.product
			width 46%
			margin-bottom 20px
			h3
				font-size .8em
			.title-price-container
				hr
					width 90px
#secondary
	display none
.entry-header
	h1
		display none
a.button.add_to_cart_button
	color white !important
footer
	&.site-footer
		background none
		.container
			border-top 1px solid gris3
			padding-top 30px
	.first-block
		display flex
		.title-line
			clear both
		.footer_about_us_menu
		.footer_products_menu
			flex-grow 1
			ul
				margin-left 0
				li
					display block
					&.title
						font-size 1.2em
						a
							color gris2
					a
						color gris0
	.social
		margin-left 0
		text-align center
		li
			display inline-block
			margin 10px
			a
			a:not(.button)
				color gris0
				font-size 2em
				
	.footer-logo
		text-align center
		img
			width 50px
			display inline-block
@media screen and (min-width: 360px)
	.single-product
		.customize-it-form
			.custom-phrase
				// &.backpack
				// 	margin-top 100px
				&#prod-119
					margin-top 75px
				&#prod-304
					margin-top 95px
				// &#prod-305
				// 	margin-top 31%
				// &#prod-306
				// 	margin-top 90px
				// &.tarjetero
				// 	margin-top 125px
				// &.cosmetiquero-de-viaje
				// 	margin-top 79%
				&.pouch
					margin-left 18%
				// &.neceseres-hombe
				// &.neceseres-hombre
				// 	margin-top 90px
				// &.neceseres-mujer
				// 	margin-top 195px
				&.porta-pasaportes
					margin-top 84%
				&.tags
					margin-top 67%
					font-size .6em
@media screen and (min-width: 400px)
	.single-product
		.customize-it-form
			.custom-phrase
				font-size .75em
				// &.backpack
				// 	margin-top 120px
				&#prod-119
					margin-top 93px
				&#prod-304
					margin-top 110px
				// &#prod-305
				// 	margin-top 110px
				// &#prod-306
				// 	margin-top 110px
				// &.tarjetero
				// 	margin-top 145px
				// &.cosmetiquero-de-viaje
				// 	margin-top 195px
				// &.pouch
				// 	margin-top 115px
				// 	margin-left 85px
				// &.neceseres-hombe
				// &.neceseres-hombre
				// 	margin-top 95px
				&.neceseres-mujer
					margin-top 65%
				// &.porta-pasaportes
				// 	margin-top 280px
				&.tags
					margin-top 70%
@media screen and (min-width: 430px)
	.single-product
		.customize-it-form
			.custom-phrase
				// &.backpack
				// 	margin-top 125px
				&.tarjetero
					margin-top 50%
				// &.cosmetiquero-de-viaje
				// 	margin-top 82%
				// &.pouch
				// 	margin-top 125px
				// &.neceseres-hombe
				// &.neceseres-hombre
				// 	margin-top 105px
				// &.neceseres-mujer
				// 	margin-top 240px
				&.porta-pasaportes
					margin-top 86%
				// &.tags
				// 	margin-top 280px
@media screen and (min-width: 510px)
	.single-product
		.customize-it-form
			.custom-phrase
				&.backpack
					font-size .6em
				&#prod-119
					margin-top 120px
				&#prod-304
					margin-top 135px
				// &#prod-305
				// 	margin-top 130px
				// &#prod-306
				// 	margin-top 135px
				&.tarjetero
					font-size .85em
				// &.cosmetiquero-de-viaje
				// 	margin-top 245px
				// &.pouch
				// 	margin-top 150px
				// &#prod-185
				// 	margin-left 50px
				&#prod-201
					margin-left 100px
				// &.neceseres-hombe
				&.neceseres-hombre
					margin-top 24%
				&.neceseres-mujer
					margin-top 68%
				&.porta-pasaportes
					margin-top 87%
				&.tags
					font-size .7em
@media screen and (min-width: 570px)
	.single-product
		.customize-it-form
			.custom-phrase
				// &.backpack
				// 	margin-top 175px
				&#prod-119
					margin-top 140px
				&#prod-304
					margin-top 155px
				// &#prod-305
				// 	margin-top 155px
				// &#prod-306
				// 	margin-top 150px
				&.tarjetero
					font-size .9em
				// &.cosmetiquero-de-viaje
				// 	margin-top 84%
				// &.pouch
				// 	margin-top 35%
				// &.neceseres-hombe
				&.neceseres-hombre
					margin-top 27%
					font-size .9em
				// &.neceseres-mujer
				// 	margin-top 330px
				// &.porta-pasaportes
				// 	margin-top 405px
				&.tags
					margin-top 73%
					font-size .8em
	.nosotros-main-content
		.the-content
			width 570px
@media screen and (min-width: 660px)
	.single-product
		.customize-it-form
			.custom-phrase
				// &.backpack
				// 	margin-top 200px
				// 	margin-left 40px
				&#prod-119
					margin-top 170px
					margin-left 25px
				&#prod-304
					margin-top 180px
				// &#prod-305
				// 	margin-top 180px
				// 	margin-left 20px
				// &#prod-306
				// 	margin-top 175px
				// &.tarjetero
				// 	margin-top 250px
				// 	margin-left -10px
				// &.cosmetiquero-de-viaje
				// 	margin-top 335px
				// &.pouch
				// 	margin-top 200px
				// 	margin-left 75px
				// &.neceseres-hombe
				// &.neceseres-hombre
				// 	margin-top 170px
				&.neceseres-mujer
					font-size .9em
				&.porta-pasaportes
					font-size .95em
				&.tags
					margin-top 71%
					font-size .9em
@media screen and (min-width: 715px)
	.single-product
		.customize-it-form
			.custom-phrase
				&.backpack
					margin-top 210px
					margin-left 4%
					font-size .7em
				&#prod-305
					margin-top 190px
					margin-left 0
				&#prod-306
					margin-top 185px
				&.tags
					margin-top 440px
					margin-left -6%
				&.tarjetero
					font-size 1.1em
					margin-top 300px
					margin-left -1%
				&.cosmetiquero-de-viaje
					margin-top 400px
				&.pouch
					margin-top 240px
					margin-left 15%
				&.neceseres-hombe
				&.neceseres-hombre
					margin-top 165px
				&.neceseres-mujer
					margin-top 420px
					margin-left -5%
				&.porta-pasaportes
					margin-top 500px
@media screen and (min-width: 768px)
	.added-to-cart-message
		width 100%
		p
			width 83%
		a
			width 16%
	.dropdown.show ul.dropdown-menu
		overflow hidden
	.home.page:not(.page-template-template-homepage)
		.site-header
			.navbar-brand
				width initial !important
	.navbar-collapse
		width 69%
	.navbar-default
		.navbar-brand
			width 200px
	.navbar-default .navbar-brand img#logo-marsala
		margin-left 15px
	.customize-photos-container
		width 738px
		margin 0 auto
	.home.page:not(.page-template-template-homepage)
		.site-header
			height 100px
			.navbar-brand
				width 100%
				height 100%
				margin 0
				img
					width 100%
					height auto
					margin-top 14px
			.navbar-header
				width 200px
				margin 0
			.navbar-collapse
				margin 0
				padding 0
				position relative
				top 0
				display flex
				width auto
				flex-direction row
				justify-content space-between
				li
					display inline-block
	.navbar-default
		.container
			display flex
			flex-direction row
			height 100px
			justify-content space-between
			align-items center
			padding-right 0
			padding-left 0
			&::before
			&::after
				display none
			.navbar-header
				display inline-block
	.navbar-default
		.navbar-collapse
			background none
	.primary-navigation
		display inline-flex !important
		.menu
			padding 0
			margin 0
			li
				margin 0 5px
				text-transform uppercase
				a
					color gris2
	.navbar-nav>li>.dropdown-menu
		position absolute
		background rgba(white, .95)
		border 1px solid rgba(gris2, .4)
		width 270px
		margin-left 0
	.navbar-default
		.navbar-brand
			img
				width 80%
				margin-top 15px
	.page-template-default
		.site-header
			.navbar-header
				margin-left 15px
	.home.page:not(.page-template-template-homepage)
		.site-header
			.footer-cart-contents
				margin-left 50px
	.page-template-default
		.site-content
			margin-top 0
		.site-header
			.navbar-header
				width 200px !important
	.page-template-default
		.navbar-collapse
			background none !important
			flex-grow 0
			flex-shrink 0
			flex-basis 69%
	.primary-navigation
		.menu
			float right
			li
				margin 0
	.nav>li>a
		padding 10px 8px
		font-size .8em
	.site-header
		.footer-cart-contents
			margin-left 10px !important
		.navbar-header
			margin 0 0 0 15px
	h1.woocommerce-breadcrumb
		margin-top 60px
		padding-bottom .9em
	.main-banners-container
		height auto
		margin-bottom 30px
		.item
			height 500px
	.banner-promo-home
		height 130px
		position relative
		background-size 260px
		h2
			position absolute
			left 40px
			top 0
			font-size 3em
		h3
			position absolute
			right 40px
			top 0
			font-size 3em
			&.second-line
				width 300px
				height auto
				padding-top 0
	.banner-hashtag
		height 250px
		line-height 3.8em
		padding-left 50px
		padding-right 50px
		.hash
			font-size 5em
		.world
			font-size 2.3em
	.nosotros-banner-container
		height 430px
		margin-bottom 40px
	.nosotros-main-content
		font-size 1.3em
		p
			padding-left 0
			padding-right 0
	.nosotros-images-container
		margin-top 30px
		justify-content space-between
		.image-container
			width 48%
	.gallery-banner
		height 300px
		h2
			font-size 2em
	.ig-container
		.item
			width 24%
	.shadow
		height 200px
		margin-top -200px
	#map
		height 720px
	.archive
		.site-content
			width 720px
			margin 0 auto
	.nosotros-main-content
		.the-content
			width 700px
	ul.products
		li.product
			height 200px
			overflow hidden
			&:hover .title-price-container
				margin-top -80px
				transition .2s ease
		.title-price-container
			margin-top -80px
			transition .3s ease
	.single-product
		.site-content
			margin 0 auto
			width 738px
		div.product
			.images .icons-container a
				margin-bottom 0 !important
			.price
				margin-bottom 30px
			.summary
				margin-top 150px !important
			.images
				.icons-container
					width 53%
					a
						display flex
						justify-content flex-start
						margin-bottom 20px
						span
							font-size .5em
							margin-left 10px
					button.icon-bag
						display flex
						align-items center
						span
							margin-left 6px
				.woocommerce-main-image
					margin-bottom 10px !important
			.thumbnails
				a.zoom
					width 24% !important
					margin-right 1% !important
		.product_color
			margin-top -5px
		.customize-it-form
			width 41.5%
			&.active
				top 20px
			.form-group.radios
				margin-bottom 9px
				span
					margin-right 10px
			.custom-phrase
				margin-top 80px
				&.backpack
					margin-top 95px
					margin-left 25px
					font-size .55em
				&#prod-119
					margin-top 65px
				&#prod-304
					margin-top 85px
				&#prod-305
					margin-top 80px
				&#prod-306
					margin-top 85px
				&.tarjetero
					margin-top 140px
					font-size .7em
					margin-left 0
				&.cosmetiquero-de-viaje
					margin-top 190px
					font-size .7em
				&#prod-158
					margin-top 195px
				&.pouch
					margin-top 110px
					margin-left 50px
					font-size .55em
				&#prod-201
					margin-left 75px
				&#prod-200
					margin-left 24%
				&.neceseres-hombe
				&.neceseres-hombre
					margin-top 75px
					font-size .7em
				&.neceseres-mujer
					margin-top 175px
					font-size .65em
					margin-left 0
				&.porta-pasaportes
					margin-top 240px
					font-size .8em
				&.tags
					margin-top 190px
					margin-left 0
					font-size .6em
		ul.products
			align-items flex-start
			li.product
				width 24% !important
				height 170px
				overflow hidden
				position relative
				margin-right 0 !important
				.title-price-container
					position absolute
					bottom 0
					width 100%
		.woocommerce-LoopProduct-link
			display none
	.woocommerce
		h2
			text-align center
			font-weight 400 !important
	.login
		width 640px
		margin 0 auto
	footer
		&.site-footer
			.container
				display flex
				.first-block
					width 66%
				.second-block
					width 34%
		.footer-logo
			img
				width 25px
@media screen and (min-width: 992px)
	.main-banners-container
		margin-bottom 50px
		.item
			height 650px
	.banner-promo-home
		height 160px
		background-size 320px
		h2
			font-size 4em
			top -8px
		h3
			right 0px
			font-size 3.5em
			&.second-line
				width 450px
				height auto
				padding-top 0
	.banner-hashtag
		height 340px
		line-height 4em
		padding-left 80px
		padding-right 80px
		.hash
			font-size 6em
		.world
			font-size 3em
	.nosotros-banner-container
		height 670px
	.nosotros-images-container
		margin-top 40px
	.nosotros-main-content
		width 140%
		margin-left -20%
		.the-content
			width 920px
	.gallery-banner
		height 400px
		h2
			font-size 3em
	.archive
		.site-content
			width 940px
	ul.products
		li.product
			height 270px
		.title-price-container
			margin-top -80px
	.single-product
		.site-content
			width 962px
		ul.products
			li.product
				height 220px
		div.product
			margin-top -10px
	.customize-photos-container
		width 768px
	.single-product
		.customize-it-form
			.custom-phrase
				margin-top 120px
				&.backpack
					margin-top 125px
					margin-left 20px
				&#prod-119
					margin-top 95px
				&#prod-304
					margin-top 115px
				&#prod-305
					margin-top 110px
				&#prod-306
					margin-top 110px
				&.tarjetero
					margin-top 185px
					margin-left 0px
				&.cosmetiquero-de-viaje
					margin-top 250px
				&#prod-158
					margin-top 260px
				&.pouch
					margin-top 145px
					font-size .65em
					margin-left 70px
				&#prod-201
					margin-top 43%
					margin-left 80px
				&.neceseres-hombe
				&.neceseres-hombre
					margin-top 105px
					font-size .75em
				&.neceseres-mujer
					margin-top 245px
				&.porta-pasaportes
					margin-top 320px
					font-size .85em
				&.tags
					margin-top 260px
					font-size .65em
	.right-sidebar
		.content-area
			margin 0 auto !important
			width 920px !important
			float none !important
	.home
		#primary
			width 100% !important
@media screen and (min-width: 1200px)
	.archive
		.site-content
			width 1140px
	.nosotros-main-content
		.the-content
			width 1170px
	.site-main
		ul.products
			li.product
				height 335px
				&:hover .title-price-container
					margin-top -80px
					transition margin-top .3s ease
				.title-price-container
					margin-top 0px
					transition margin-top .3s ease
	.single-product
		.customize-it-form
			.custom-phrase
				margin-top 160px
				&.backpack
					margin-top 160px
					font-size .65em
				&#prod-119
					margin-top 130px
				&#prod-304
					margin-top 145px
				&#prod-305
					margin-top 140px
				&#prod-306
					margin-top 140px
				&.tarjetero
					margin-left -5px
					margin-top 225px
					font-size .9em
				&.cosmetiquero-de-viaje
					margin-top 305px
					font-size .8em
				&#prod-158
					margin-top 320px
				&.pouch
					margin-top 180px
					margin-left 80px
					font-size .75em
				&#prod-201
					margin-left 100px
				&.neceseres-hombe
				&.neceseres-hombre
					margin-top 140px
				&.neceseres-mujer
					margin-top 310px
					font-size .85em
				&.porta-pasaportes
					margin-top 395px
					font-size 1.1em
				&.tags
					margin-top 330px
					font-size .75em
					margin-left -3%
	.single-product
		.site-content
			width 1170px
		ul.products
			li.product
				height 270px
				.title-price-container
					position relative
	.right-sidebar
		.content-area
			width 1140px !important
@media screen and (min-width: 1500px)
	.nosotros-main-content
		width 240%
		margin-left -70%
@media screen and (min-width: 2000px)
	.nosotros-main-content
		width 300%
		margin-left -100%
		